*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
}

img, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #EDF1F7;
}

p {
  font-size: 2.2vh;
  color: #959698;
  letter-spacing: 1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  height: 80vh;
  padding: 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: none;
    height: auto;
  }
}

.container-item-1 {
  max-width: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-item-1 .p {
  padding-top: 40px;
}

.spider-man {
  width: 140%;
  -webkit-transform: translate3d(-140px, 0, 0);
          transform: translate3d(-140px, 0, 0);
}

@media screen and (max-width: 960px) {
  .spider-man {
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 3px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-transform: uppercase;
  background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
  position: relative;
}

.btn::after {
  content: "";
  display: block;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  top: -3px;
  left: -2px;
  width: 20%;
  height: 70%;
  border-radius: 3px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.btn::before {
  content: "";
  display: block;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20%;
  height: 70%;
  border-radius: 3px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.btn:hover {
  -webkit-transform: skew(-10deg) scale(1.05);
          transform: skew(-10deg) scale(1.05);
}

.btn:hover::after {
  opacity: 1;
}

.btn:hover::before {
  opacity: 1;
}

.btn-secondary {
  display: inline-block;
  padding: 11px 33px;
  margin-left: 9px;
  border-radius: 3px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #EA1D22;
  position: relative;
}

.btn-secondary::after {
  content: "";
  display: block;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
}

.btn-secondary:hover::after {
  width: 100%;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .bg-video {
    height: auto;
  }
}

.bg-video::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, #0A0C10 25%, rgba(11, 12, 16, 0.8) 50%, #0A0C10 70%);
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
}

header {
  width: 100%;
  padding-top: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

.bx {
  width: 40px;
  height: 40px;
  background-color: #EDF1F7;
  border-radius: 10px;
  display: none;
}

@media screen and (max-width: 960px) {
  .bx {
    display: block;
  }
}

.logo {
  max-width: 100px;
  margin-right: 30px;
}

.logo img {
  width: 30px;
  height: 5px;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-list li {
  padding-right: 10px;
}

@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: 200;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: #959698;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: -40px;
  width: 2px;
  height: 0px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  background: linear-gradient(359.94deg, #E11C21 0.06%, rgba(225, 28, 33, 0) 101.91%);
}

.nav-link:hover {
  color: #EDF1F7;
}

.nav-link:hover::after {
  height: 40px;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-social svg {
  cursor: pointer;
  margin-left: 20px;
  width: 24px;
}

.nav-social svg path, .nav-social svg circle {
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-social svg:hover path, .nav-social svg:hover circle {
  fill: #F02A2F;
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
}

@media screen and (max-width: 960px) {
  .nav-social {
    display: none;
  }
}

.logo-spiderman-item {
  fill: transparent;
  -webkit-animation: logo-spiderman-item 10s ease infinite alternate;
          animation: logo-spiderman-item 10s ease infinite alternate;
}

@-webkit-keyframes logo-spiderman-item {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0;
    fill: #E5E9EF;
  }
}

@keyframes logo-spiderman-item {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0;
    fill: #E5E9EF;
  }
}

.s-0 {
  margin: 0;
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}
/*# sourceMappingURL=style.css.map */